/* 기본 스타일 설정 */
body {
   margin: 0;
   height: 100vh;
   font-family: Arial, sans-serif;
}
header {
   height: 10vh;
   background-color: #4ac4f3;
}

/* 배너 이미지 스타일 */
.banner {
   height: 80vh;
   overflow: hidden;
}

.banner img {
   width: 100%;
   height: auto;
}

/* 푸터 스타일 */
footer {
   background-color: #f8f9fa;
   position: relative;
   bottom: 0;
   height: 10vh;
   width: 100vw;
}

.nav-item {
   background-color: #4ac4f3; /* 버튼 배경색 */
   color: #eeeeee; /* 글씨색 */
   border-radius: 8px; /* 둥근 모서리 */
   width: 50px;
   margin-right: 5vw;
}
